.obsidian-vault-full-statistics--item {
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.obsidian-vault-full-statistics--item--inactive {
		display: none;
}

.obsidian-vault-full-statistics--item--active {}
